body{
background-image: url('patroa.png');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
position: relative;
top: 130px;
color:#FF6F61;
}
p{
text-align: center;
width: 1000px;
margin-left: 450px;
font-size: 30px;
}
h1{
text-align: center;
font-size: 50px;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 1;
}
body * {
  position: relative;
  z-index: 2;
}